version: 2.1

jobs:
  build_and_test:
    docker:
      - image: ghcr.io/flox/flox:latest
    working_directory: ~/dinero.js
    environment:
      CI: true
    steps:
      - checkout
      - run:
          name: Build and test
          command: |
            flox activate -- npm install
            flox activate -- npm run build
            flox activate -- npm run format:check
            flox activate -- npm run test

workflows:
  version: 2.1
  ci:
    jobs:
      - build_and_test
