header {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  justify-content: space-between;
}

main {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 320px auto;
}

table td {
  vertical-align: top;
}

table tr td {
  border-top: 1px solid silver;
}

table tr:first-child td {
  border: none;
}
