main code {
  color: #e3116c;
}

main code::before,
main code::after {
  content: '`';
}

main pre code::before,
main pre code::after {
  display: none;
  content: '';
}

/* [role="alert"] {
  align-items: center;
  display: flex;
  background-color:lightblue;
  padding: 4px 14px;
}

[role="alert"]::before {
  content: '💡';
} */

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  @apply text-gray-400;
}

.token.namespace {
  @apply text-opacity-70;
}

.token.string,
.token.attr-value {
  @apply text-red-600;
}

.token.punctuation,
.token.operator {
  @apply text-gray-700;
}

.token.entity,
.token.url,
.token.symbol,
.token.number,
.token.boolean,
.token.variable,
.token.constant,
.token.property,
.token.regex,
.token.inserted {
  color: #36acaa;
}

.token.atrule,
.token.keyword,
.token.attr-name,
.language-autohotkey .token.selector {
  color: #00a4db;
}

.token.function,
.token.deleted,
.language-autohotkey .token.tag {
  @apply text-red-900;
}

.token.tag,
.token.selector,
.language-autohotkey .token.keyword {
  @apply text-blue-900;
}

.token.important,
.token.function,
.token.bold {
  @apply font-semibold;
}
